
{:paths ["source-code/cljc"]
 :deps  {mt-app-kit/cljc-common-state {:git/url "https://github.com/mt-app-kit/cljc-common-state"
                                       :sha     "9fd5c78e546b568dd256264105b1c3e37c396a34"}
         mt-utilities/cljc-time       {:git/url "https://github.com/mt-utilities/cljc-time"
                                       :sha     "f9e5466938f549e9690d9f2dbea880de71c64b9e"}
         org.clojure/clojure          {:mvn/version "1.10.1"}
         org.clojure/clojurescript    {:mvn/version "1.10.891"}}}
