
{:paths ["source-code/cljc"]
 :deps  {mt-app-kit/cljc-common-state {:git/url "https://github.com/mt-app-kit/cljc-common-state"
                                       :sha     "29cf625fbe7dd058c3a0755a0465b72a74c73af3"}
         mt-utilities/cljc-time       {:git/url "https://github.com/mt-utilities/cljc-time"
                                       :sha     "c5804b61af3b73f178f7973db49e3d4c501a7b61"}
         org.clojure/clojure          {:mvn/version "1.10.1"}
         org.clojure/clojurescript    {:mvn/version "1.10.891"}}}
